---
layout: main
---
<p class="text-4xl sm:text-5xl md:text-6xl font-black py-10 md:py-20 leading-tight">
    <img src="/assets/img/google-cloud.svg" alt="GCP logo" class="h-9 sm:h-[1em] inline-block transform -translate-y-2">
     {{ title }}
</p>

  
{% include "nav.liquid" %}

{{ content }}